@model  List<Ecommerce.Models.UserViewModel>
@{
    ViewBag.Title = "Usuarios de Mipyme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="card mb-3">
    <div class="card-header">
        
        

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@(item.Name)</td>
                                <td>@item.Email</td>
                                <td>
                                    @Html.ActionLink("Actualizar Informacion", "Modificar", new { shippingId = 0 })
                                    <br />
                                    @Html.ActionLink("Suspender", "Eliminar", new { shippingId = 0})
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
