@using Ecommerce.Models.Home;
@model Ecommerce.Models.Home.OrderViewModel
  
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@if (Session["cart"] == null)
{
    <div class="alert alert-custom alert-warning fade show mb-5">
        <strong>No hay Producto agregado al carrito!</strong>
    </div>
}
else
{
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Section-->
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder font-size-h3 text-dark">Mi orden</span>
                </h3>
            </div>
            <!--end::Header-->
            <div class="row">
                <div class="col-6">
                    <div class="card card-custom card-shadowless rounded-top-0">
                        <div class="card-body p-0">
                            <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                <div class="col-xl-12 col-xxl-7">
                                    <!--begin: Wizard Form-->
                                  
                                    <form class="form mt-0 mt-lg-10" id="kt_form">
                                        <!--begin: Wizard Step 1-->
                                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <h4 class="mb-10 font-weight-bold text-dark">Ingresa tu dirección</h4>
                                            <!--begin::Input-->
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-solid form-control-lg", id = "address" })
                                                <span class="form-text text-muted">Por favor ingresa tu dirección.</span>
                                            </div>
                                            <!--end::Input-->

                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <!--begin::Input-->
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.City, new { @class = "col-md-4 control-label" })
                                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control form-control-solid form-control-lg", id = "city" })
                                                        <span class="form-text text-muted">Por favor ingresa tu ciudad.</span>
                                                    </div>
                                                    <!--end::Input-->
                                                </div>

                                                <div class="col-xl-6">
                                                    <!--begin::Input-->
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Department, new { @class = "col-md-6 control-label" })
                                                        @Html.TextBoxFor(m => m.Department, new { @class = "form-control form-control-solid form-control-lg", id = "department" })
                                                        <span class="form-text text-muted">Por favor ingresa tu departamento.</span>
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <!--begin::Input-->
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-6 control-label" })
                                                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control form-control-solid form-control-lg", id = "telephone" })
                                                        <span class="form-text text-muted">Por favor ingresa tu telefono o celular.</span>
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Wizard Step 1-->
                                        <input type="button" class="btn btn-success" value="Pagar" id="btnSave" onclick="save()"/>
                                       
                                    </form>
                                    <!--end: Wizard Form-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <br />
                    <br />
                    <div class="card-body">
                        <!--begin::Shopping Cart-->
                        <div class="table-responsive">
                            <table class="table">
                                <!--begin::Cart Header-->
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th class="text-right">Cantidad</th>
                                        <th class="text-right">Precio</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <!--end::Cart Header-->

                                <tbody>
                                    @{
                                        int Total = 0;
                                    }
                                    @foreach (Item item in (List<Item>)Session["cart"])
                                    {
                                        int lineTotal = Convert.ToInt32(item.Quantity * item.Product.Price);
                                        Total = Convert.ToInt32(@Total + lineTotal);

                                        Session["SesTotal"] = Total;

                                        <tr>
                                            <td class="d-flex align-items-center font-weight-bolder">@item.Product.ProductName</td>
                                            <td class="text-right align-middle font-size-14">@item.Quantity</td>
                                            <td class="text-right align-middle font-size-14">@item.Product.Price</td>
                                            <td class="text-right align-middle">
                                                @lineTotal
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="2"></td>
                                        <td class="font-weight-bolder font-size-h4 text-right">Total</td>
                                        <td class="font-weight-bolder font-size-h4 text-right">Lps. @Total</td>
                                    </tr>

                                    @*<tr>
                                        <td colspan="4" class="border-0 text-right pt-10">
                                           </td>
                                    </tr>*@
                                    <!--end::Cart Footer-->
                                </tbody>
                            </table>
                        </div>
                        <!--end::Shopping Cart-->
                    </div>

                </div>

            </div>

        </div>
        <!--end::Section-->
    </div>
}

<script>

    function save() {
        var address = $("#address").val();
        var city = $("#city").val();
        var department = $("#department").val();
        var telephone = $("#telephone").val();

        var model = {
            address: address,
            citiy: city,
            department: department,
            telephone:telephone
        }

        var url = "@Url.Action("PaymentWithPaypal","Payment")?address=" + address + "&city=" + city + "&department=" + department + "&telephone="+telephone;

        $.get(url, function(res){
           
        });
    }
</script>