@model Ecommerce.Models.Products.ProductsDetailsComment
@{
    ViewBag.Title = "ViewProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Detalle del producto</div>
        <div class="text-center rounded mb-7">
            <img src="~/ProductImages/@Model.product.ProductImage" class="mw-100 h-150px" />
        </div>
        <ul class="list-group">
            <li class="list-group-item">Nombre del producto: @Model.product.ProductName</li>
            <li class="list-group-item">Categoria: @Model.product.Tbl_Category.CategoryName </li>
            <li class="list-group-item">Precio: @Model.product.Price</li>
            <li class="list-group-item">Descripcion del producto: @Model.product.Description</li>
        </ul>

    </div>

    <div class="card mb-3">
        <div class="card-header">
            Detalle de Caracteristicas
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (var item in Model.product.Tbl_Product_Characteristics)
                            {

                                <tr>
                                    <td>@item.Characteristic</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <div class="card mb-3">
        <div class="card-header">

            @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.product.ProductId, new { htmlAttributes = new { @class = "form-control" } })

                <div class="form-group">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.review.Reviewer, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="form-group">
                    @Html.Label("Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.review.Comment, new { @class = "form-control", @rows = "10", @cols = "40" })
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Comentarios
            @foreach (var item in Model.reviews)
            {

                <div class="row">
                    <div class="col-md-8">
                        <div class="media g-mb-30 media-comment">
                            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                <div class="g-mb-15">
                                    <h5 class="h5 g-color-gray-dark-v1 mb-0">@item.Reviewer</h5>
                                    @*<span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span>*@
                                </div>

                                <p>@item.Comment</p>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>


</div>


